.wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1em;
}

@media screen and (min-width: 480px) {
  .wrapper {
    padding: .3em 1em;
    display: grid;
    gap: 1em;
    grid-template-areas: 
      'city city'
      'max wind'
    ;
  }  
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: .5em 5em;
  }  
}

@media screen and (min-width: 1300px) {
  .wrapper {
    padding: .3em 18em;
  }  
}